/* Safeguardin Project */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

/* CSS Variables */
:root {

    --egg-blue: #a4c2d1; 
    --light-grey: #dbdcde; 
    --mid-blue: #1f7798; 
    --dark-blue: #184f63; 
    --button-hover: #1d6d8a;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--egg-blue);
}

h1,
h2 {
    font-family: "DM Serif Display", serif;
    color: var(--dark-blue);
}

.sharp-corners,
.sharp-corners * {
    border-radius: 0;
}

/* Buttons */

.custom-button {
    background-color: var(--mid-blue);
    border: var(--mid-blue);
}

.custom-button:hover {
    background-color: var(--button-hover);
    border: var(--button-hover);
}
.contact-button {
    background-color: white;
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
}

.contact-button:hover {
    background-color: var(--button-hover);
    border: 2px solid var(--dark-blue);
}

/* About section */

#about {
    background-color: white;
}

/* Resources section */

#resources {
    background-color: var(--mid-blue);
}

#resources .card-title {
    color: var(--mid-blue);
    font-size: 1.2rem;
}

#resources .btn-outline-secondary:hover {
    background-color: var(--mid-blue);
}

#resources .card-text {
    min-height: 120px;
}


/* Contact section */

#contact {
    background-color: white;
    color:var(--dark-blue);
}

/* Header  section */

#hero {
    background-color: var(--light-grey);
    background-image: url("../images/bg.jpg");
    background-size: cover;
    
    background-position: 50% 70%;
    min-height: 300px;
    padding: 5% 7%;
    color: #ffffff;
}

/* text color white class */
.whitetext {
  color: #ffffff ;
}
/* Footer section*/

 footer {
            background-color: var(--dark-blue);
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        footer p {
            margin: 10px 0;
        }
        .social-icons a {
            color: #fff;
            margin: 0 10px;
            text-decoration: none;
            font-size: 1.5em;
        }
    footer a:hover {
    color:  var(--egg-blue);
}
    footer a {
             color: #fff;
            
            text-decoration: none;
      }
       
/* GDPR Link */
.gdpr-link {
    color: var(--dark-blue);
    font-size: 0.8rem;
    text-decoration: none;
}
.youtube {
    position: relative;
    overflow: hidden;
    width: 100%; height: 100%;
}


/* Media queries */

/* Bootstrap breakpoint for XL screens */
@media screen and (min-width: 1200px) {
    /* Fixes all cards being too tall on xl screens */
    #resources .card-text {
        min-height: auto;
    }    
}